body{
	background-color: lightgray;
}
#puzzle{
	width: 600px;
	height: 400px;
	margin: 0 auto;
	border: 4px solid black;
	position: relative;
	top: 100px;
}
img{
	position: absolute;
}
.topright{
	right: 0px;
}
.bottomleft{
	bottom: 0px;
}
.bottomright{
	bottom: 0px;
	right: 0px;
}
img:nth-of-type(2){
	left: 51px;
}
img:nth-of-type(3){
	left: 133px;
}
img:nth-of-type(4){
	left: 190px;
}
img:nth-of-type(5){
	left: 240px;
}
img:nth-of-type(6){
	left: 314px;
}
img:nth-of-type(7){
	left: 378px;
}
img:nth-of-type(8){
	left: 447px;
}
img:nth-of-type(9){
	left: 513px;
}
img:nth-of-type(11){
	top: 52px;
}
img:nth-of-type(12){
	left: 51px;
	top: 83px;
}
img:nth-of-type(13){
	left: 133px;
	top: 66px;
}
img:nth-of-type(14){
	left: 190px;
	top: 92px;
}
img:nth-of-type(15){
	left: 240px;
	top: 64px;
}
img:nth-of-type(16){
	left: 314px;
	top: 110px;
}
img:nth-of-type(17){
	left: 378px;
	top: 126px;
}
img:nth-of-type(18){
	left: 447px;
	top: 121px;
}
img:nth-of-type(19){
	left: 513px;
	top: 150px;
}
img:nth-of-type(20){
	left: 564px;
	top: 129px;
}
img:nth-of-type(21){
	top: 162px;
}
img:nth-of-type(22){
	left: 51px;
	top: 187px;
}
img:nth-of-type(23){
	left: 133px;
	top: 198px;
}
img:nth-of-type(24){
	left: 190px;
	top: 206px;
}
img:nth-of-type(25){
	left: 240px;
	top: 183px;
}
img:nth-of-type(26){
	left: 314px;
	top: 200px;
}
img:nth-of-type(27){
	left: 378px;
	top: 189px;
}
img:nth-of-type(28){
	left: 447px;
	top: 192px;
}
img:nth-of-type(29){
	left: 513px;
	top: 199px;
}
img:nth-of-type(30){
	left: 564px;
	top: 189px;
}
img:nth-of-type(31){
	bottom: 91px;
}
img:nth-of-type(32){
	left: 76px;
	bottom: 59px;
}
img:nth-of-type(33){
	left: 127px;
	bottom: 46px;
}
img:nth-of-type(34){
	left: 182px;
	bottom: 66px;
}
img:nth-of-type(35){
	left: 250px;
	bottom: 45px;
}
img:nth-of-type(36){
	left: 304px;
	bottom: 65px;
}
img:nth-of-type(37){
	left: 365px;
	bottom: 74px;
}
img:nth-of-type(38){
	left: 459px;
	bottom: 47px;
}
img:nth-of-type(39){
	left: 503px;
	bottom: 28px;
}
img:nth-of-type(40){
	left: 543px;
	bottom: 59px;
}
img:nth-of-type(42){
	left: 76px;
	bottom: 0px;
}
img:nth-of-type(43){
	left: 127px;
	bottom: 0px;
}
img:nth-of-type(44){
	left: 182px;
	bottom: 0px;
}
img:nth-of-type(45){
	left: 250px;
	bottom: 0px;
}
img:nth-of-type(46){
	left: 304px;
	bottom: 0px;
}
img:nth-of-type(47){
	left: 365px;
	bottom: 0px;
}
img:nth-of-type(48){
	left: 459px;
	bottom: 0px;
}
img:nth-of-type(49){
	left: 503px;
	bottom: 0px;
}